<html>
   <body>
      <form action = "http://manishpi9.local:5000/" method = "post">
         <p>Enter Joint {{joint_list[0]}} angle (degrees):</p>
         <p><input type = "text" name = {{joint_list[0]}} value = {{angle_list[0]}} ></p>
         <p>Enter Joint {{joint_list[1]}} angle (degrees):</p>
         <p><input type = "text" name = {{joint_list[1]}} value ={{angle_list[1]}} ></p>
         <p>Enter Joint {{joint_list[2]}} angle (degrees):</p>
         <p><input type = "text" name = {{joint_list[2]}} value = {{angle_list[2]}} ></p>
         <p>Enter Joint {{joint_list[3]}} angle (degrees):</p>
         <p><input type = "text" name = {{joint_list[3]}} value ={{angle_list[3]}} ></p>
         <p>Enter Joint {{joint_list[4]}} angle (degrees):</p>
         <p><input type = "text" name = {{joint_list[4]}} value = {{angle_list[4]}} ></p>
         <p>Enter Joint {{joint_list[5]}} angle (degrees):</p>
         <p><input type = "text" name = {{joint_list[5]}} value ={{angle_list[5]}} ></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>
